.bg-theme-1 {
  background: #212121;
}

footer a {
  font-size: 26px;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}
footer a:hover {
  color: #651bd3;
}

body {
  background-color: #0e1013;
}
h1, h2, h3, h4, p, a.btn {
  color: #ffffff;
}

/*-------------------- home ---------------------*/

/* botao da página home */
.btn-home {
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;

  color: #ffffff;
  background: linear-gradient(94.03deg, #8844ee 1.29%, #4e00c2 100%);
  border-radius: 5px;

  padding: 25px;
}

.btn-home:hover {
  border: 2px solid #8844ee;
  background: transparent;
}

/* imagem principal do codigo da home */

.img-codigo-home {
  margin: 30px auto;
}

/* media da pagina home */

@media (max-width: 870px) {
  .img-codigo-home {
    max-width: 600px;
  }
}

@media (max-width: 650px) {
  .img-codigo-home {
    max-width: 300px;
  }

  .img-principal {
    max-width: 300px;
  }
}

@media (max-width: 400px) {
  .btn-home {
    padding: 15px;
    font-size: 20px;
  }
}


/*  -- EQUIPES --  */


.botao{
  background-image: linear-gradient(to left, #651BD3, #8844EE);
}

.equipe_cards{
  width: 18rem;
  border-top:7px solid red;
  border-radius:10px;
}

/*  -- FIM --  */

/*  -- CONTATO --  */
.cor_texto{
  color:#8844EE;
}
.contato_sobre{
  height:320px;
}

.contato_formulario{
  height:410px;
}
.borda_sobre{
  height:250px;
  border-left:1px solid white;
  
}
@media screen and (max-width: 450px) {
  .contato_sobre{
    font-size: 14px;;
  }
}

/*  -- FIM --  */